<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wangfan.springcloud.dao.PaymentDao">

    <!-- 设置useGeneratedKeys参数值为true，在执行添加记录之后可以获取到数据库自动生成的主键ID。
         搭配使用keyProperty
         如果需要获取新增行的主键ID，直接使用传入的实体对象的主键对应属性的值。也就是payment.getId()-->
    <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) values (#{serial})
    </insert>

    <!-- resultMap实现一个复杂对象返回 -->
    <!-- column：表示数据库中的字段名
         property：表示映射的Java对象字段
         jdbcType：表示数据库中数据的类型-->
    <resultMap id="BaseResultMap" type="com.wangfan.springcloud.entities.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="serial" property="serial" jdbcType="BIGINT"/>
    </resultMap>
    <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">
        select *
        from payment
        where id=#{id};
    </select>
</mapper>